/* Theme Fonts */
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url("./fonts/SometypeMono/font");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Colours */
:root {
    --primary-50: 237 245 249;
    --primary-100: 202 225 238;
    --primary-200: 167 205 227;
    --primary-300: 131 185 216;
    --primary-400: 96 165 205;
    --primary-500: 61 145 194;
    --primary-600: 50 119 159;
    --primary-700: 39 92 124;
    --primary-800: 28 66 88;
    --primary-900: 17 39 53;
    --primary-950: 6 13 18;
    --surface-0: 255 255 255;
    --surface-50: 248 250 252;
    --surface-100: 241 245 249;
    --surface-200: 226 232 240;
    --surface-300: 203 213 225;
    --surface-400: 148 163 184;
    --surface-500: 100 116 139;
    --surface-600: 71 85 105;
    --surface-700: 45 55 72;
    --surface-800: 30 41 59;
    --surface-900: 15 23 42;
    --surface-950: 3 6 23;
}

/* Apply Tailwind CSS classes */
body {
    @apply font-sans;
    
    h1, h2, h3 {
        @apply font-serif;
    }

    p {
        @apply font-mono;
    }
}